*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration-style: none;
}

.pagination .page-link{
    padding: 7px 11px;
}

#notification-response{
    position: absolute;
    z-index: 999;
    top: -55px;
    right: 0;
    transition-duration: 1s; 
}

#home{
    min-height: 100vh;
}

.select2-container{
    width: 100%!important;
}

.delete-confirm {
    font-size: 1.3rem;
    cursor: pointer;
    color: #ff8383;
}
    .delete-confirm:hover{
        color: #fff;
    }
.button--edit {
    font-size: 1.3rem;
    cursor: pointer;
    color: #34c2fd;
}
    .button--edit:hover {
        color: #fff;
    }

.form-control[readonly] {
    background-color: #4e4c9b;
    cursor:default;
}

.form-control[disabled] {
    cursor: default;
}

.form-control, select, i.fas {
    border-radius: 5px;
}
.select2-selection--single {
    height: calc(1.5em + .75rem + 2px) !important;
    background-color: #54657d !important;
    border: 0 !important;
    display: flex !important;
    align-items: center;
}
    .select2-container--disabled .select2-selection--single {
        background-color: #4e4c9b !important;
        cursor: default;
    }
.select2-selection__rendered {
    color: #fff !important;
}
.text-danger {
    color: #ffabb3!important;
}
.date-filter{
    max-width: 200px;
}
/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .page-item {
        margin-right: 5px;
    }
    .pagination .page-link {
        padding: 5px;
    }
    table{
        font-size: 80% !important;
    }
    .page-link{
        font-size: 80%;
    }
    .nav-link{
        justify-content: left;
        padding-left: 10px!important;
    }
    .nav-link span {
        font-size: 100% !important;
    }
    .delete-confirm{
        font-size: 1.1rem;
    }
}