*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration-style: none;
}

.pagination .page-link{
    padding: 7px 11px;
}

#notification-response{
    position: absolute;
    z-index: 999;
    top: -55px;
    right: 0;
}